# PHP
alias hostfile="sudo nano /etc/hosts"
alias sshconfig="nano ~/.ssh/config"
alias copykey="command cat ~/.ssh/id_rsa.pub | pbcopy"
alias sphp80="brew unlink php && brew link --overwrite --force php@8.0"
alias sphp81="brew unlink php && brew link --overwrite --force php@8.1"
alias sphp74="brew unlink php && brew link --overwrite --force php@7.4"

# Git
alias gc="git checkout"
alias glog="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"

# List all files colorized in long format
alias l="ls -laF"

# PhpStorm
#alias phpstorm='open -a /Applications/PhpStorm.app "`pwd`"'

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# IP addresses
alias ip="curl https://diagnostic.opendns.com/myip ; echo"
alias localip="ipconfig getifaddr en0 | awk '{ print \"Wifi: \" $1}'"

# Flush Directory Service cache
alias flushdns="sudo dscacheutil -flushcache; sudo killall -HUP mDNSResponder"

# Lock the screen
alias afk="osascript -e 'tell application \"System Events\" to keystroke \"q\" using {command down,control down}'"

# Restart touch bar
alias touchbar="killall ControlStrip"

# Development
alias hl="hyperlayout $1"
