archive () {
   zip -r "$1".zip -i "$1" ;
}

function removehost() {
   ssh-keygen -R "$1"
}

function weather() {
   city="$1"

   if [ -z "$city" ]; then
      city="Jankowo 62-007"
   fi

   city=$( printf "%s\n" "$city" | sed 's/ /%20/g' )

   eval "curl --header \"Accept-Language: pl-PL,pl;\" http://wttr.in/${city}"
}

function notify() {
   osascript -e 'display notification "Shell command executed" sound name "Submarine"'
}
